pip==21.2.4
bump2version==1.0.1
wheel==0.37.0
watchdog==2.1.4
flake8==3.9.2
tox==3.24.3
coverage==6.0
Sphinx==4.1.1
twine==3.4.1
Click==8.0.1
pytest==6.2.4
pytest-runner==5.3.1
black==21.7b0
sphinx-autodoc-typehints==1.12.0
sphinxcontrib.spelling==5.4.0
