pip==23.0.1
bump2version==1.0.1
wheel==0.38.3
watchdog==2.3.1
flake8==5.0.4
tox==4.4.6
coverage==7.2.1
Sphinx==6.1.3
twine==4.0.2
Click==8.1.3
pytest==7.2.0
black==23.1.0
sphinx-autodoc-napoleon-typehints==2.1.6
sphinxcontrib.spelling==5.4.0
