pip==23.1.2
bump2version==1.0.1
wheel==0.40.0
watchdog==3.0.0
flake8==6.0.0
tox==4.5.1
coverage==7.2.5
Sphinx==7.2.4
twine==4.0.2
Click==8.1.3
pytest==7.3.1
black==23.3.0
sphinx-autodoc-napoleon-typehints==2.1.6
sphinxcontrib.spelling==5.4.0
